# ========== Unity 默认忽略 ==========
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/

# ========== VS 和 Rider 相关文件 ==========
.vscode/
.idea/
*.csproj
*.sln
*.user
*.unityproj
*.pidb
*.suo
*.userprefs
*.booproj

# ========== 系统垃圾 ==========
.DS_Store
Thumbs.db

# ========== 用户本地配置 ==========
UserSettings/

# ========== Mac 和 Windows 系统文件 ==========
*.swp
*.tmp
*.bak
*.orig
*.old

# ========== Unity自动生成缓存 ==========
*.unitypackage
*.apk
*.aab